# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Visual Studio Code
.vscode/

# Django
*.log
db.sqlite3
/media/

# System and temporary files
Thumbs.db

# Local development settings
.env

# Project notes
notes.md
TODO.md
