# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Visual Studio Code
.vscode/

# Django
*.log
db.sqlite3
/media/

# System and temporary files
Thumbs.db
.DS_Store

# Local development settings
.env

# Personal project notes
Notes.md
