.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.development-message {
    position: absolute;
    top: 70px;
    left: 70px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    margin-right: 500px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-container {
    text-align: left;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #555;
}

.recent-blog-posts {
    position: relative;
    margin-top: 100px;
    margin-right: 1000px;
}

.current-work {
    position: relative;
    margin-top: 85px;
    margin-right: 500px;
}

.current-work h3 {
    font-size: 27px;
}

.red-text {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}